* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #969696;
}

.calculator {
    position: relative;
    width: 340px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px rgba(48, 46, 46, 0.733);
}

.display {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: right;
    background-color: rgb(199, 199, 199);
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.btn {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1 0 21%;
}
.btnc {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1 0 21%;
    background-color: rgb(219, 49, 49);
}
.equals {
    order: 99;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex: 1 0 46%;
    background-color: rgb(70, 228, 123);
}
